nav {
    height: 75px;
    padding: 15px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

nav h1 {
    font-size: 2rem;
    color: var(--primary-text-color);
    align-self: center;
}

nav .link-group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

nav .link-group a {
    text-decoration: none;
    cursor: pointer;
    font-size: 3rem;
    color: var(--primary-text-color);
}

nav .link-group a:hover {
    color: var(--secondary-text-color);
    transition: color .3s;
}